PROJECT

.DS_Store

.git
.hg
.svn
.venv
index.md

tmp
.webassets-cache
_build
_search
_cache
doctrees

*~
*.voc
*.bin
*.swp
*.log
*.pid
*.pyc
*.pyo
*.o
*.so
*.db
*.zip
*.pot
_*.json
_*.csv
_*.tab

flintlock
iamglass
*.glass
iambrass
*.brass

*.sublime-project
*.sublime-workspace

/local/settings.py
/storage
/www/static
/www/*/static
/www/media
/www/*/media
/project_docs
/local_www
/local_storage
